html, body {
	height: 100%;
	width: 100%;
}

.firstbar {
	text-decoration: none;
	font-weight: bolder;
	font-family: serif;
	font-size: 26px;
	height: 5%;
	width: 5%;
	padding: 20px 15px;
}

.secondbar {
	height: 30px;
	width: 30px;
	margin: 10px 0 0 14px;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 600px) {
	.secondbar {
		display: none;
	}
}

.profile {
	font-size: 12px;
	color: rgba(198, 198, 198, 0.85);
	position: fixed;
	top: 50px;
	left: 50px;
}

@media screen and (min-width: 600px) {
	.profile {
		display: none;
	}
}

.pbreak {
	line-height: 70px;
}

.image {
	height: 45%;
	width: 100%;
	padding-top: 20px;
}


.partitle {
	width: 90%;
	padding: 15px;
	font-size: 55px;
	font-weight: bolder;
	margin: auto 30px;
	text-align: left;
}

@media screen and (min-width: 600px) {
	.partitle {
		width: 90%;
		padding: 15px;
		font-size: 55px;
		font-weight: bolder;
		margin: 0 auto;
		text-align: center;
	}
}

.para {
	font-size: 20px;
	padding: 25px;
	line-height: 40px;
	margin: auto 25px;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 600px) {
	.para {
		font-size: 20px;
		padding: 80px;
		line-height: 40px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
}

.twoheader {
	font-size: 45px;
	font-weight: bold;
	margin: auto 30px;
	padding: 15px;
}
 .parag {
 	height: 300px;
 	width: 82%;
 	background: rgb(232, 232, 232);
 	text-indent: -15px;
 	font-size: 18px;
 	font-family: courier;
 	margin: 0 auto;
 	padding: 25px;
 	text-align: left;
 	box-sizing: box-border;
 }

.button {
	color: white;
	background: rgb(19, 133, 38);
	margin: auto 50px;
	font-size: 12px;
	border-radius: 30px;
	padding: 10px;
}

.button:hover {
	background: rgb(20, 193, 49);
}